<!DOCTYPE html>

<html>

  <body>
  
			<div th:fragment="side">
				<h1>Renato K. Araujo</h1>
				<p>
I am a Software Engineer with twelve years of professional experience in developing Java websites and web applications. I am a generalist and began as a full stack Java web developer, but in the last six years I am working more with backend software and web services in a high audience website. I am also a Sun Certified Java Programmer (SCJP) and have some experience configuring Linux servers. Other programming languages include Ruby and Ruby on Rails (beginner level), PHP (worked in internship) and C (used all along my graduation course).
				</p>

				<div id="links">
					<ul class="list-unstyled">
						<li><a href="resume.html">Resume / CV</a></li>
						<!--/* <li><a href="mailto:renato@rkaraujo.com">Email</a></li> */-->
						<li><a href="https://www.linkedin.com/in/rkaraujo/en" target="_blank">Linkedin</a></li>
						<li><a href="https://github.com/rkaraujo/" target="_blank">Github</a></li>
						<li><a href="https://twitter.com/rkaraujo" target="_blank">Twitter</a></li>
					</ul>

					<h3>Personal Projects</h3>
					<ul class="list-unstyled">
						<li><a href="http://www.achajogobarato.com.br" target="_blank">Acha Jogo Barato</a></li>
						<li><a href="http://www.celularbombarato.com.br" target="_blank">Celular Bom Barato</a></li>
						<li><a href="https://github.com/rkaraujo/rkablog" target="_blank">RKA Blog</a></li>
					</ul>
				</div>
			</div>
  
  </body>
  
</html>