<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"></meta>
	<title>Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/blog.css"></link>
	<link rel="stylesheet" href="/css/typography.css"></link>
	<link rel="stylesheet" href="/css/height.css"></link>
</head>

<body>
	<div class="container">
		<div class="row">

			<div id="content" class="col-md-8">
				<h3>Renato 小阪 Blog</h3>
				
				<div th:each="post : ${posts}" class="post-summary">
					<h2 th:inline="text">[[${post.title}]] <small>- [[${#calendars.format(post.publishedAt,'dd MMM yyyy')}]]</small></h2>
					<p th:text="${post.summaryContent}"></p>
					<a th:href="'/p/' + ${post.slugTitle} + '.html'" class="btn-custom btn-post">Continue Reading</a>
				</div>
			</div>
			
			<div th:include="inc/side :: side" id="side" class="col-md-4"></div>
			
		</div>		
	</div>
</body>

</html>
